
<div class="large-12 columns">
    <div class="large-6 small-12 columns right">
        <div class="radius panel">

            <form>
                <div class="row collapse">

                    <div class="large-10 small-8 columns">
                        <input type="text"/>
                    </div>

                    <div class="large-2 small-3 columns">
                        <a href="#" class="postfix button expand">Search</a>
                    </div>

                </div>
            </form>

        </div>
    </div>
    <div class="large-6 columns">
        <img src="http://placehold.it/1000x700&text=mapa">
        <div class="clearfix">
            <br>
        </div>

    </div>

    <div class="large-6 columns">
        <h3 class="show-for-small">Filtro de Cines<hr/></h3>
        <div class="panel">
            <h4 class="hide-for-small">Filtro de Cines<hr/></h4>
            <div class="large-4 columns">
                <label>Palacios del Cine</label>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
            </div>
            <div class="large-4 columns">
                <label>Caribbean Cinemas</label>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
            </div>
            <div class="large-4 columns">
                <label>Otros</label>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
                <div class="large-12 columns"><input type="checkbox"><label>SilverSun Gallery 1</label></div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>