<div class="large-12 columns">
    <div class="large-10 columns">
        <fieldset>
            <legend>
                <h1>Estrenos Pr&oacute;ximos</h1>
            </legend>

            <div class="large-12 columns">
                <div class="show-for-medium-down">
                    <h2>Titulo 1</h2><div class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></div>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/300x300&text=Titulo2" >
                </div>
                <div class="large-9 columns">
                    <div class="hidden-for-medium-down"><span class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></span>
                        <h2>Titulo 1</h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#">Leer mas -></a>
                    </p>

                </div>
            </div>
            <div class="clearfix">
                <hr/>
            </div>
            <div class="large-12 columns">
                <div class="show-for-medium-down">
                    <h2>Titulo 2</h2><div class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></div>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/300x300&text=Titulo2" >
                </div>
                <div class="large-9 columns">
                    <div class="hidden-for-medium-down"><span class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></span>
                        <h2>Titulo 2</h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#">Leer mas -></a>
                    </p>

                </div>
            </div>
            <div class="clearfix">
                <hr/>
            </div>
            <div class="large-12 columns">
                <div class="show-for-medium-down">
                    <h2>Titulo 2</h2><div class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></div>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/300x300&text=Titulo2" >
                </div>
                <div class="large-9 columns">
                    <div class="hidden-for-medium-down"><span class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></span>
                        <h2>Titulo 2</h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#">Leer mas -></a>
                    </p>

                </div>
            </div>
            <div class="clearfix">
                <hr/>
            </div>
            <div class="large-12 columns">
                <div class="show-for-medium-down">
                    <h2>Titulo 2</h2><div class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></div>
                </div>
                <div class="large-3 columns">
                    <img src="http://placehold.it/300x300&text=Titulo2" >
                </div>
                <div class="large-9 columns">
                    <div class="hidden-for-medium-down"><span class="right"><i class="fi-star"></i><i class="fi-star"></i><i class="fi-star"></i></span>
                        <h2>Titulo 2</h2>
                    </div>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        <a href="#">Leer mas -></a>
                    </p>

                </div>
            </div>
        </fieldset>
    </div>
    <div class="sticky">
        <aside class="large-2 columns right"> 
            <div class="hidden-for-medium-down">
                <h5>Titulos</h5>
                <ul class="side-nav">
                    <li><a href="#">Titulo 1</a></li>
                    <li><a href="#">Titulo 2</a></li>
                    <li><a href="#">Titulo 3</a></li>
                    <li><a href="#">Titulo 4</a></li>
                    <li><a href="#">Titulo 5</a></li>
                </ul>
            </div>

            <div class="panel">
                <h5>Featured</h5>
                <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
                <a href="#">Read More →</a>
            </div>

        </aside>
    </div>

</div>
