<div class="large-12 hide-for-small">

    <ul id="featured" data-orbit>
        <li>
            <img src="http://placehold.it/1200x300" alt="slide image">
            <div class="orbit-caption">Uno</div>
        </li>
        <li>
            <img src="http://placehold.it/1200x300" alt="slide image">
            <div class="orbit-caption">dos</div>
        </li>
        <li>
            <img src="http://placehold.it/1200x300" alt="slide image">
            <div class="orbit-caption">tres</div>
        </li>
    </ul>

</div>
<div class="sticky">
    <nav class="top-bar" data-topbar role="navigation" data-options="sticky_on: large">
        <ul class="title-area">
            <li class="name">
                <h1><a href="#">My Site</a></h1>
            </li>
        </ul>
        <section class="top-bar-section">
            <ul class="left">
                <li ui-sref-active="active">
                    <a ui-sref='site.cartelera'>Cartelera</a></li>
                <li ui-sref-active="active">
                    <a href="#/proximo">Pr&oacute;ximo</a></li>
                <li ui-sref-active="active">
                    <a href="#/cines">Cines</a></li>
                <li ui-sref-active="active">
                    <a href="#/cerca">M&aacute;s cerca</a></li>
            </ul>
        </section>
    </nav>
</div>

<div class="row">
    <div class="large-12 columns show-for-small">

        <img src="http://placehold.it/1200x700&text=Mobile Header">

    </div>
</div><br>

<div ui-view>

</div>

<footer>
    <div class="large-12 columns"><hr>
        <div>

            <div class="large-6 columns">
                <p>© KodeLabs SRL. All rigth reserved.</p>
            </div>

            <div class="large-6 small-12 columns">
                <ul class="inline-list right">
                    <li><a href="#/cartelera">Cartelera</a></li>
                    <li><a href="#/proximo">Proximo</a></li>
                    <li><a href="#/cines">Cines</a></li>
                    <li><a href="#/cerca">M&aacute;s cerca</a></li>
                </ul>
            </div>

        </div>
    </div>
</footer>