<div class="large-6 columns">
    <div class="large-12">
        <img src="http://placehold.it/1000x600" />
    </div>
    <div class="clearfix"></div>
    <br/>
    <ul class="large-12 columns clearing-thumbs small-block-grid-4" data-clearing>
        <li ng-repeat="imagen in pelicula.imagenes">
            <a href="http://placehold.it/200x150&text=[img]">
                <img ng-src="{{imagen}}"/>
            </a>
        </li>
    </ul>
</div>

<div class="large-5 columns">
    <h2>{{pelicula.nombre}}</h2>
    <p>{{pelicula.descripcion}}</p>

    <div class="panel">
        <h5>En Cines</h5>
        <hr/>
        <!-- TODO: list of theaters showing this movie -->
        <ul class="inline-list">
            <li><a href="#">Super especial Cine 1</a></li>
            <li><a href="#">Super especial Cine 1</a></li>
            <li><a href="#">Super especial Cine 1</a></li>
            <li><a href="#">Super especial Cine 1</a></li>
            <li><a href="#">Super especial Cine 1</a></li>
        </ul>
    </div>

</div>

<hr/>
<div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Bacon ipsum dolor sit amet nulla ham qui sint exercitation eiusmod commodo, chuck duis velit. Aute in reprehenderit, dolore aliqua non est magna in labore pig pork biltong. Eiusmod swine spare ribs reprehenderit culpa. Boudin aliqua adipisicing rump corned beef.</p>
</div>
<div class="large-6 columns">
    <h4>This is a content section.</h4>
    <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow. Nulla corned beef sunt ball tip, qui bresaola enim jowl. Capicola short ribs minim salami nulla nostrud pastrami.</p>
</div>

<hr>
<div class="large-12 columns">
    <h4>You might also like:</h4>
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
    <img src="http://placehold.it/200x150&text=[img]">
</div>
